@import 'normalize.css';
@import '../base-style/c3.scss';
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

$primary-color : #007fa3;
$label-color: #e93939;
$depth-color: #d8d8d8;

.root{
  color: $primary-color;
  font-family: 'Didact Gothic', sans-serif;
}

.row{
  padding: 40px 170px;
}

.header{
  font-size: 32px;
}

.user-list{
  display: table;
  background-color: $depth-color;
  min-width: 98vw;
  max-width: 100vw;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  
  .user {
    float: left;
    margin: 50px 37px 30px 0;
    background-color: white;
    width: 212px;
    height: 121px;
    font-size: 18px;
    color: $primary-color;
  
    .user__profile {
      text-align: center;
      color: $label-color;

      .user__avatar{
        margin-top: -40px;
        display: inline-block;
      }
    }
    
    .user__delete{
      position: relative;
      bottom: -20px;
    }
  }
}

.add-user-form{

  .add-user-form__label{
    display: inline-block;
    margin: 12px 10px;
  }

  .add-user-form__firstname, .add-user-form__lastname {
    height: 33px;
    width: 323px;
    border-radius: 14px;
    display: block;
  }

  .add-user-form__add-user-btn {
    margin: 32px 0;
    height: 44px;
    width: 149px;
  }
}

